{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="dcf-grid-halves dcf-grid-thirds@sm dcf-grid-fourths@md dcf-grid-fifths@xl dcf-col-gap-vw dcf-row-gap-0 dcf-mt-6">
  {% for row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
        'ucomm-grid-item',
      ]
    %}
    <div{{ row.attributes.addClass(row_classes) }}>
      {{- row.content -}}
    </div>
  {% endfor %}
</div>
